# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)
print(g_key)

AIzaSyACXPhU56UNHihL6-xcDhXmAjrke5gSvSs

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:
file = 'weather_data.csv'
file_df = pd.read_csv(file)
file_df.head()

     lat    lon    temp  humid  cloud  wind
0  13.28 -87.12  306.53     36     39  4.99
1  46.71 -80.92  283.22     15     40  5.10
2 -33.59  26.89  289.26     87     43  0.89
3 -53.15 -70.92  278.15     86     99  2.60
4  37.67  21.62  284.30     87     41  1.50

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
locations = file_df[['lat','lon']].astype(float)
humidity = file_df['humid'].astype(float)

In [13]:
# Plot Heatmap
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [14]:
file_df = file_df.loc[file_df['temp'] >= 294]
file_df = file_df.loc[file_df['temp'] < 299]
file_df = file_df.loc[file_df['humid'] < 85]
file_df = file_df.loc[file_df['humid'] > 50]
file_df = file_df.loc[file_df['cloud'] < 80]
hotel_df = file_df

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
hotel_df = hotel_df.reset_index()
hotel_df

    index    lat     lon    temp  humid  cloud  wind
0      32 -13.44  -42.24  294.75     80     13  2.88
1      49  30.48 -115.95  296.27     55      0  6.77
2      55  22.08 -159.32  298.58     74     75  6.70
3      69   8.55  -71.24  295.78     64     67  1.27
4      76  28.62   79.18  296.87     60     20  3.86
5      81 -21.36   55.77  294.75     83     39  4.16
6      92  34.62  -79.01  298.26     61      1  2.60
7      93 -21.37   55.62  296.15     83     37  3.64
8     100 -13.28  -50.16  297.23     80     50  1.09
9     102  14.90  -24.50  297.08     74      0  5.46
10    118  -9.41  -38.21  297.06     83     38  4.31
11    131  14.92  -23.51  296.15     73     20  5.10
12    183  10.07   34.53  294.99     58      0  0.99
13    229  16.89  -24.98  296.15     73     20  9.30
14    237   4.85   31.58  297.46     77     53  1.89
15    262 -17.71  -39.25  295.64     76     20  1.98
16    292  25.02   37.27  298.11     51      0  6.22
17    338 -21.64  -41.05  297.15     73     73  2.60
18    347   8.08   22.40  296.12     81     73  2.43
19    381   8.20  -59.78  298.89     81     65  2.50
20    383  34.13  -84.30  298.82     65     76  1.79
21    390  34.42  -79.37  298.28     69     75  4.10
22    391  28.07   95.33  294.94     69     18  1.59
23    405 -15.20   12.15  298.49     69      0  0.50
24    408 -23.86   35.38  294.02     73     12  2.69
25    440 -25.88  -48.57  294.34     83     20  1.50
26    460   4.12   43.89  298.75     74     78  4.49
27    469  -7.84  -79.15  295.52     71     13  3.40
28    521  14.92  -23.51  296.15     73     20  5.10
29    531  34.15 -119.20  298.48     56      1  6.20

In [16]:
hotel_df['Hotel Name'] = ""
hotel_df

    index    lat     lon    temp  humid  cloud  wind Hotel Name
0      32 -13.44  -42.24  294.75     80     13  2.88
1      49  30.48 -115.95  296.27     55      0  6.77
2      55  22.08 -159.32  298.58     74     75  6.70
3      69   8.55  -71.24  295.78     64     67  1.27
4      76  28.62   79.18  296.87     60     20  3.86
5      81 -21.36   55.77  294.75     83     39  4.16
6      92  34.62  -79.01  298.26     61      1  2.60
7      93 -21.37   55.62  296.15     83     37  3.64
8     100 -13.28  -50.16  297.23     80     50  1.09
9     102  14.90  -24.50  297.08     74      0  5.46
10    118  -9.41  -38.21  297.06     83     38  4.31
11    131  14.92  -23.51  296.15     73     20  5.10
12    183  10.07   34.53  294.99     58      0  0.99
13    229  16.89  -24.98  296.15     73     20  9.30
14    237   4.85   31.58  297.46     77     53  1.89
15    262 -17.71  -39.25  295.64     76     20  1.98
16    292  25.02   37.27  298.11     51      0  6.22
17    338 -21.64  -41.05  297.15     73     73  2.60
18    347   8.08   22.40  296.12     81     73  2.43
19    381   8.20  -59.78  298.89     81     65  2.50
20    383  34.13  -84.30  298.82     65     76  1.79
21    390  34.42  -79.37  298.28     69     75  4.10
22    391  28.07   95.33  294.94     69     18  1.59
23    405 -15.20   12.15  298.49     69      0  0.50
24    408 -23.86   35.38  294.02     73     12  2.69
25    440 -25.88  -48.57  294.34     83     20  1.50
26    460   4.12   43.89  298.75     74     78  4.49
27    469  -7.84  -79.15  295.52     71     13  3.40
28    521  14.92  -23.51  296.15     73     20  5.10
29    531  34.15 -119.20  298.48     56      1  6.20

In [21]:
params = {
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
for index, row in hotel_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    lat = row['lat']
    lon = row['lon']
    params['location'] = f"{lat},{lon}" 
    
    hotel_name = requests.get(base_url, params = params)
    hotel_name = hotel_name.json()
    hotel_df.loc[index, "Hotel Name"] = hotel_name["results"][0]["name"]
    #hotel_df.loc[index, "City"] = hotel_name["results"][0]["plus_code"][0]["compound_code"]

In [23]:
hotel_df

    index    lat     lon    temp  humid  cloud  wind              Hotel Name
0      32 -13.44  -42.24  294.75     80     13  2.88               Paramirim
1      49  30.48 -115.95  296.27     55      0  6.77         Lázaro Cárdenas
2      55  22.08 -159.32  298.58     74     75  6.70                  Kapaʻa
3      69   8.55  -71.24  295.78     64     67  1.27                  Merida
4      76  28.62   79.18  296.87     60     20  3.86                   Milak
5      81 -21.36   55.77  294.75     83     39  4.16          Saint-Philippe
6      92  34.62  -79.01  298.26     61      1  2.60               Lumberton
7      93 -21.37   55.62  296.15     83     37  3.64            Saint-Joseph
8     100 -13.28  -50.16  297.23     80     50  1.09  São Miguel do Araguaia
9     102  14.90  -24.50  297.08     74      0  5.46              Sao Filipe
10    118  -9.41  -38.21  297.06     83     38  4.31            Paulo Afonso
11    131  14.92  -23.51  296.15     73     20  5.10                   Praia
12    183  10.07   34.53  294.99     58      0  0.99                   Asosa
13    229  16.89  -24.98  296.15     73     20  9.30                 Mindelo
14    237   4.85   31.58  297.46     77     53  1.89                    Juba
15    262 -17.71  -39.25  295.64     76     20  1.98               Caravelas
16    292  25.02   37.27  298.11     51      0  6.22                   Umluj
17    338 -21.64  -41.05  297.15     73     73  2.60                 Grussaí
18    347   8.08   22.40  296.12     81     73  2.43                  Ouadda
19    381   8.20  -59.78  298.89     81     65  2.50                Mabaruma
20    383  34.13  -84.30  298.82     65     76  1.79              Alpharetta
21    390  34.42  -79.37  298.28     69     75  4.10                  Dillon
22    391  28.07   95.33  294.94     69     18  1.59                Nyingchi
23    405 -15.20   12.15  298.49     69      0  0.50                  Namibe
24    408 -23.86   35.38  294.02     73     12  2.69                  Maxixe
25    440 -25.88  -48.57  294.34     83     20  1.50                Matinhos
26    460   4.12   43.89  298.75     74     78  4.49                  Xuddur
27    469  -7.84  -79.15  295.52     71     13  3.40                 Chiclín
28    521  14.92  -23.51  296.15     73     20  5.10                   Praia
29    531  34.15 -119.20  298.48     56      1  6.20                  Oxnard

In [26]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lon"]]

In [ ]:
#https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-13.44,-42.24&radius=5000&type=hote&key=AIzaSyACXPhU56UNHihL6-xcDhXmAjrke5gSvSs

In [27]:
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lon"]]